<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Brindar una educaci&oacute;n de vanguardia en el ramo mar&iacute;timo y portuario, acorde con las necesidades y expectativas actuales de la Marina Mercante Mexicana" />
  <meta name="author" content="IENPOP" />
  <meta name="robots" content="index, follow" />

  <title> Instituto de Educaci&oacute;n N&aacute;utica y Portuaria Oc&eacute;ano Pac&iacute;fico SA de CV </title>

  <link rel="stylesheet" type="text/css" href="<%= url('third-party/bootstrap/dist/css/bootstrap.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= url('third-party/reen-theme/assets/css/main.css') %>">

  <link rel="stylesheet" type="text/css" href="<%= url('third-party/reen-theme/assets/css/green.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= url('third-party/owl.carousel/dist/assets/owl.carousel.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= url('third-party/reen-theme/assets/css/owl.transitions.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= url('third-party/animate.css/animate.min.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= url('third-party/aos/dist/aos.css') %>">
  <link rel="stylesheet" type="text/css" href="<%= url('third-party/reen-theme/assets/css/cutomStyle.css') %>">
  
  <!--Adding custom style for IENPOP-->
  <link rel="stylesheet" type="text/css" href="<%= url('css/index.css') %>">


  <!-- Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Lato:400,900,300,700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic" rel="stylesheet">

  <!-- Icons/Glyphs -->
  <link rel="stylesheet" type="text/css" href="<%= url('third-party/reen-theme/assets/fonts/fontello.css') %>">

    <!-- Favicon -->
  <link rel="shortcut icon" href="<%= url('/images/favicon.ico') %>">
</head>

<body>
<header>
      <div class="navbar">

        <div class="navbar-header">
          <div class="container">

            <a class="navbar-toggle btn responsive-menu responsive-bottom pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class="icon-menu-1"></i></a>

          </div><!-- /.container -->
        </div><!-- /.navbar-header -->

        <div class="yamm">
          <div class="navbar-collapse collapse affix-top animate">
            <div class="container ">


    
                <ul class="nav navbar-nav navbar position-nav">
                  
                    <li>
                      <a href="/home">INICIO</a>
                    </li><!-- /.dropdown -->

                    <li>
                      <a href="/about">QUI&Eacute;NES SOMOS</a>
                    </li><!-- /.dropdown -->

                    <li class="dropdown hover">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">CURSOS</a>
                      
                      <ul class="dropdown-menu">
                        <li class="dropdown-submenu hover">
                          <a href="#" class="dropdown-toggle hover-style" data-toggle="dropdown">SECTOR A: LIBRETA INTERNACIONAL</a>
                            <ul class="dropdown-menu">

                              <li><a class="hover-style" href="/libreta_int_lib">LIBRETAS</a></li>
                              <li><a class="hover-style" href="/libreta_int_cer">CERTIFICADOS DE COMPETENCIA</a></li>

                            </ul><!-- /.dropdown-menu -->
                        </li><!-- /.dropdown-submenu -->
                        
                        <li class="dropdown-submenu hover">
                          <a href="#" class="dropdown-toggle hover-style" data-toggle="dropdown">SECTOR B: PESCADORES</a>

                          <ul class="dropdown-menu">
                            <li><a  class="hover-style" href="/pescadores_lib">LIBRETAS</a></li>
                            <li><a class="hover-style" href="/pescadores_cer">CERTIFICADOS DE COMPETENCIA</a></li>
                          </ul><!-- /.dropdown-menu -->
                        </li><!-- /.dropdown-submenu -->

                        <li class="dropdown-submenu hover">
                          <a href="#" class="dropdown-toggle hover-style" data-toggle="dropdown">SECTOR C: TUR&Iacute;STICO</a>
                          <ul class="dropdown-menu">

                            <li><a class="hover-style" href="/turistico_lib">LIBRETAS</a></li>
                            <li><a class="hover-style" href="/turistico_cer">CERTIFICADOS DE COMPETENCIA</a></li>

                          </ul><!-- /.dropdown-menu -->
                        </li><!-- /.dropdown-submenu -->

                        <li class="dropdown-submenu hover">
                          <a href="/" class="dropdown-toggle hover-style" data-toggle="dropdown">SECTOR D: PLATAFORMAS Y BARCASAS
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="hover-style" href="/plataformas_barcasas">LIBRETAS</a></li>
                          </ul><!-- /.dropdown-menu -->
                        </li>

                      </ul><!-- /.dropdown-menu -->
                    </li><!-- /.dropdown -->

                    <li>
                      <a href="/sedes">SEDES</a>
                    </li><!-- /.dropdown -->

                   <li>
                      <a href="/contact">CONTACTO</a>
                    </li><!-- /.dropdown -->
                </ul><!-- /.nav -->

                  <img src="images/ienpop-l.png" class="nav-logo" alt="Logo de IENPOP">
               
        <!-- ============================================================= MAIN NAVIGATION : END ============================================================= -->


            </div><!-- /.container -->
          </div></div><!-- /.navbar-collapse -->
        </div><!-- /.yamm -->
      </div><!-- /.navbar -->
    </header>
  
   <!-- Three columns of text below the carousel -->
  
  <main>
    <%= yield %>
  </main>
  <!-- ============================================================= FOOTER ============================================================= -->

    <footer class="footer-bottom">
      <div class="container inner">
        <p class="pull-right">© 2017 Instituto de Educaci&oacute;n N&aacute;utica y Portuaria Oc&eacute;ano Pac&iacute;fico SA de CV</p>
      </div><!-- .container -->
    </footer>
 

    <!-- JavaScripts placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="<%= url('third-party/jquery/dist/jquery.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/jquery.easing/js/jquery.easing.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/jquery-form/dist/jquery.form.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/jquery-validation/dist/jquery.validate.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/bootstrap/dist/js/bootstrap.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/aos/dist/aos.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/reen-theme/assets/js/owl.carousel.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/reen-theme/assets/js/jquery.isotope.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/imagesloaded/imagesloaded.pkgd.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/reen-theme/assets/js/jquery.easytabs.min.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/viewport-units-buggyfill/viewport-units-buggyfill.js') %>"></script>
    <script type="text/javascript" src="<%= url('third-party/reen-theme/assets/js/scripts.js') %>"></script>

  </body>
</html>
